.normalText {
  text-align: center;
  color: white;
  margin: 100px auto 0;
}

.Layer {
  background-color: #000000c0 !important;
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 20%;
  width: 70%;
  height: 70% !important;
  border-left: 1px solid #000000c0 !important;
  border-top: 1px solid #000000c0 !important;
  border-right: 1px solid #000000c0 !important;
  border-bottom: 1px solid #000000c0 !important;
}

.Title {
  font-family: "open sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 70px !important;
  font-weight: 100;
  color: black !important;
  letter-spacing: -1px;
  margin-top: 70px !important;
}