.notFound {
    text-align: center;
    color: white;
    margin: 100px auto 0;
}

.Layer {
    background-color: #000000e0;
    position: absolute;
    top: 12%;
    bottom: 0;
    right: 0;
    left: 15%;
    width: 70%;
    height: 75%;
    border-left: 1px solid #000000e0;
    border-top: 1px solid #000000e0;
    border-right: 1px solid #000000e0;
    border-bottom: 1px solid #000000e0;
}

.Title {
    font-family: "open sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 250px;
    font-weight: bold;
    color: white;
    letter-spacing: -1px;
    margin-top: 70px;
}