.App {
    text-align: center;
    color: white;
    margin: 50px auto 0;
}

.App-logo {
    height: 50px;
    vertical-align: left;
}

.App-header {
    height: 100px;
}

.App-title {
    font-family: "open sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: white;
    letter-spacing: -1px;
}

.App-intro {
    font-size: xx-large;
    font-weight: 100;
}

.layer {
    background-color: #00000085;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}